  <div class="message-item">
    <div class="message-box">
      <div class="user-name">
        <%= message.user.name %>
      </div>
      <div class="created-at">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="message">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '250x250'), class: 'message-image' if message.image.attached? %>
  </div>
