  <div class="message-item">
    <div class="message-box">
      <div class="user-name">
        <%= message.user.name %>
      </div>
      <div class="created-at">
        <%= message.created_at %>
      </div>
    </div>
    <div class="message">
      <%= message.content %>
    </div>
  </div>
