<div class="chat-side">
  <div class="side-header">
    <div class="side-box">
      <div >
        <%= link_to 'inari', edit_user_path(current_user) ,class: 'side-header-user' %>
      </div>
      <div class="side-header-action">
        <%= link_to 'チャットを作成する', new_room_path ,class: 'side-header-link' %>
      </div>
    </div>
  </div>
  <div class="chat-rooms">
    <% Room.all.each do |room| %>
      <div class="chat-room">
        <%= link_to room.name, '#' ,class: 'chat-room-link' %>
      </div>
    <% end %>
  
  </div>
</div>