<div class="chat-side">
  <div class="side-header">
    <div class="side-box">
      <div class="side-header-user">Tom</div>
      <div class="side-header-button">
        <%= link_to 'チャットを作成する', '#' ,class: 'side-header-link' %>
      </div>
    </div>
  </div>
  <div class="chat-rooms">
    <div class="chat-room">
     <%= link_to 'techroom1', '#' ,class: 'chat-room-link' %>
    </div>
    <div class="chat-room">
     <%= link_to 'techroom2', '#' ,class: 'chat-room-link' %>
    </div>
  </div>
</div>